@font-face {
  font-family: "Trwite";
  font-style: normal;
  font-weight: normal;
  src: local("Trwite Regular"), url(../assets/font/d926e27817c70cd1ddac.woff2) format("woff");
}
@font-face {
  font-family: "Trwite";
  font-style: italic;
  font-weight: normal;
  src: local("Trwite Italic"), url(../assets/font/fa4b3cf9e7d30e794629.woff2) format("woff");
}
@font-face {
  font-family: "Trwite";
  font-style: normal;
  font-weight: bold;
  src: local("Trwite Bold"), url(../assets/font/ac8b28af3d44aac5c472.woff2) format("woff");
}
@font-face {
  font-family: "Trwite";
  font-style: italic;
  font-weight: bold;
  src: local("Trwite Bold Italic"), url(../assets/font/50ee75f6eec57e08bfe6.woff2) format("woff");
}
